<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="Nouveau Regie" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()" ></button>
      <p-dialog [(visible)]="NewDialog" [style]="{width: '580px', height:530}" header="Ajout Regie" [modal]="true" styleClass="p-fluid"   >
        <ng-template pTemplate="content">
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">Demandeur</label>
            </div>
            <div class="col-6">
              <input type="text" class="form-control text-black" id="test" aria-describedby="username1-help" pInputText [(ngModel)]="regies.demandeur"  />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">Date de reception </label>
            </div>
            <div class="col-6">
              <input class="form-control text-black" type="date" aria-describedby="username1-help" pInputText [(ngModel)]="regies.datereception" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block"> Pm</label>
            </div>
            <div class="col-6">
              <input class="form-control text-black" id="" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="regies.pm" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block"> Site</label>
            </div>
            <div class="col-6">
              <input  class="form-control text-black"  type="text" aria-describedby="username1-help" pInputText [(ngModel)]="regies.site" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">Idra</label>
            </div>
            <div class="col-6">
              <input class="form-control text-black"  type="text" aria-describedby="username1-help" pInputText [(ngModel)]="regies.idra" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">Idm  </label>
            </div>
            <div class="col-6">
              <input class="form-control text-black"  type="text" aria-describedby="username1-help" pInputText [(ngModel)]="regies.idm" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">Tache</label>
            </div>
            <div class="col-6">
              <input class="form-control text-black"  type="text" aria-describedby="username1-help" pInputText [(ngModel)]="regies.tache" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">Durée</label>
            </div>
            <div class="col-6">
              <input class="form-control text-black"  type="text" aria-describedby="username1-help" pInputText [(ngModel)]="regies.duree" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">Etat</label>
            </div>
            <div class="col-6">
              <input class="form-control text-black"  type="text" aria-describedby="username1-help" pInputText [(ngModel)]="regies.etat" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">Chargé</label>
            </div>
            <div class="col-6">
              <input class="form-control text-black"  type="text" aria-describedby="username1-help" pInputText [(ngModel)]="regies.charge" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">Commentaire</label>
            </div>
            <div class="col-6">
              <input class="form-control text-black"  type="text" aria-describedby="username1-help" pInputText [(ngModel)]="regies.commentaire" />
            </div>
          </div>
          <div  class="row pt-2">
            <div class="col-6">
              <label class="block">
                Region
              </label>
            </div>
            <div class="col-6">
              <select [(ngModel)]="region" name="status" placeholder="select"  class="form-select">
                <option *ngFor="let region of regions" [ngValue]="region">{{region.name}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <button class="btn btn-success" label="Ajouter" (click)="save(regies)"> Ajouter </button>
          </div>
        </ng-template></p-dialog>

    </ng-template>
    <ng-template pTemplate="right">
      <p-fileUpload mode="basic" accept=".xlsx" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block" chooseIcon="pi pi-download"  ></p-fileUpload>
      &nbsp;&nbsp;
      <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="Onexportexcel()"  icon="pi pi-upload"></button>
    </ng-template>
  </p-toolbar>
  <div style="font-size: 5px ;">
    <p-table #regietable  [value]="regie" [responsive]="true"  columnResizeMode="expand"  [tableStyle]="{width: 'max-content'  }" [filterDelay]="0" [globalFilterFields]="['demandeur','datereception','pm','site','idra','idm','tache','duree','etat','charge','commentaire','region.name']"
             [paginator]="true" [rows]="4" [showCurrentPageReport]="true"  [resizableColumns]='true' [autoLayout]="true" id="excel-table" >
      <ng-template pTemplate="caption">
        <div class="datatable-header">
          List Regie
          <span class="p-input-icon-left m-lg-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains', regie)" placeholder="" />
                </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="demandeur"> Demandeur <p-sortIcon field="demandeur"></p-sortIcon> </th>
          <th pSortableColumn="datereception"> Date reception <p-sortIcon field="datereception"></p-sortIcon> </th>
          <th pSortableColumn="pm"> Pm <p-sortIcon field="pm"></p-sortIcon></th>
          <th pSortableColumn="site"> Site <p-sortIcon field="site"></p-sortIcon> </th>
          <th pSortableColumn="idra"> Idra  <p-sortIcon field="idra"></p-sortIcon> </th>
          <th pSortableColumn="idm"> Idm  <p-sortIcon field="idm"></p-sortIcon> </th>
          <th pSortableColumn="tache"> Tache <p-sortIcon field="tache"></p-sortIcon> </th>
          <th pSortableColumn="duree"> Durée  <p-sortIcon field="duree"></p-sortIcon> </th>
          <th pSortableColumn="etat"> Etat  <p-sortIcon field="etat"></p-sortIcon> </th>
          <th pSortableColumn="charge"> Chargé  <p-sortIcon field="charge"></p-sortIcon> </th>
          <th pSortableColumn="commentaire"> Commentaire  <p-sortIcon field="commentaire"></p-sortIcon> </th>
          <th pSortableColumn="region.name"> Region <p-sortIcon field="region.name"></p-sortIcon> </th>
          <th></th>
        </tr>
        <tr>

          <th>
            <p-columnFilter type="text" field="demandeur"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="datereception"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="pm"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="site"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="idra"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="idm"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="tache"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="duree"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="etat"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="charge"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="commentaire"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="region.name"></p-columnFilter>
          </th>
          <th>
          </th>
      </ng-template>
      <ng-template pTemplate="body" let-list >
        <tr>

          <td>{{list.demandeur}}</td>
          <td> {{list.datereception | date:'dd/MM/YYYY' }}</td>
          <td>{{list.pm}}</td>
          <td> {{list.site}}</td>
          <td> {{list.idra}}</td>
          <td> {{list.idm}}</td>
          <td> {{list.tache}}</td>
          <td> {{list.duree}}</td>
          <td> {{list.etat}}</td>
          <td> {{list.charge}}</td>
          <td> {{list.commentaire}}</td>
          <td> {{list.region.name}}</td>
          <td>
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="openDialog(list)"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="Ondeletegc(list.id)"></button>
            <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Regie Details" [modal]="true" styleClass="p-fluid"   >
              <ng-template pTemplate="content">
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">ID</label>
                  </div>
                  <div class="col-6">
                    <label id="username198" > {{regies.id}}</label>
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Demandeur</label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black" id="username19" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="regies.demandeur" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Date de reception </label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black" id="usernam888" type="date" aria-describedby="username1-help" pInputText [(ngModel)]="regies.datereception" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block"> Pm</label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black" id="username18" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="regies.pm" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block"> Site</label>
                  </div>
                  <div class="col-6">
                    <input  class="form-control text-black" id="username17" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="regies.site" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Idra</label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black" id="username14" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="regies.idra" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Idm  </label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black" id="username15" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="regies.idm" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Tache</label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black" id="username1588" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="regies.tache" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Durée</label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black" id="username159" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="regies.duree" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Etat</label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black" id="ouou" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="regies.etat" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Chargé</label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black" id="n" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="regies.charge" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Commentaire</label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black" id="p" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="regies.commentaire" />
                  </div>
                </div>
                <div class="row pt-2">
                  <p-button label="modifier" (click)="edit(regies)"></p-button>
                </div>
              </ng-template></p-dialog>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
