<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
<link href="/assets/css/font-awesome.min.css" rel="stylesheet">
<link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
<link href="/assets/css/paper-dashboard.min.css?v=2.1.1" rel="stylesheet"/>
<link href="/assets/demo/demo.css" rel="stylesheet"/>

<div [ngClass]="isAuth ? 'sidebar' : 'sidebarlogout'" data-color="default" data-active-color="danger">

  <div class="logo">
    <a routerLink="/profil" class="simple-text logo-mini"></a>
    <a class="simple-text logo-normal">
      SPS
    </a>
  </div>

  <div *ngIf="isAuth" class="sidebar-wrapper">
    <div class="user">
      <div class="photo">
        <img src="../../assets/img/new_logo.png">
      </div>
      <div class="info">
        <a data-toggle="collapse" style="color: white;" href="#collapseExample" class="collapsed">
                    <span>
                        {{user.username}}
                      <b class="caret"></b>
            </span>
        </a>
        <div class="clearfix"></div>
        <div class="collapse" id="collapseExample">
          <ul class="nav">
            <li>
              <a>
                <span class="sidebar-mini-icon">MP</span>
                <span class="sidebar-normal">Mon Profile</span>
              </a>
            </li>
            <li>
              <a>
                <span class="sidebar-mini-icon">MOD</span>
                <span class="sidebar-normal">Modifier profile</span>
              </a>
            </li>
            <li>
              <a (click)="logout()" *ngIf="isAuth">
                <span class="sidebar-mini-icon">Se</span>
                <span class="sidebar-normal">Se déconnecter</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="nav">
      <li *ngIf="isAdmin()">
        <a routerLink="/dashboard">
          <i class="nc-icon nc-bank"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li *ngIf="isAdmin()">
        <a routerLink="/user">
          <i class="nc-icon nc-single-02"></i>
          <p>utilisateur</p>
        </a>
      </li>
      <li *ngIf="isAdmin()">
        <a routerLink="/role">
          <i class="nc-icon nc-simple-add"></i>
          <p>Role</p>
        </a>
      </li>
      <li>
        <a routerLink="/region">
          <i class="nc-icon nc-pin-3"></i>
          <p>Region</p>
        </a>
      </li>
      <li>
        <a routerLink="/projet">
          <i class=" nc-icon nc-bullet-list-67"></i>
          <p>Projet</p>
        </a>
      </li>
      <li>
        <a data-toggle="collapse" href="#pagesExamples">
          <i class="nc-icon nc-book-bookmark"></i>
          <p>
            Les taches <b class="caret"></b>
          </p>
        </a>
        <div class="collapse " id="pagesExamples">
          <ul class="nav">
            <li>
              <a routerLink="/gc">
                <span class="sidebar-mini-icon">gc</span>
                <span class="sidebar-normal"> Gc </span>
              </a>
            </li>
            <li>
              <a routerLink="/fsc">
                <span class="sidebar-mini-icon">fsc</span>
                <span class="sidebar-normal"> Fsc </span>
              </a>
            </li>
            <li>
              <a routerLink="/creationidm">
                <span class="sidebar-mini-icon">idm</span>
                <span class="sidebar-normal"> Creation idm </span>
              </a>
            </li>
            <li>
              <a routerLink="/creationsadirah">
                <span class="sidebar-mini-icon">sad</span>
                <span class="sidebar-normal"> Creation Sadirah </span>
              </a>
            </li>
            <li>
              <a routerLink="/identificationimmeuble">
                <span class="sidebar-mini-icon">idm</span>
                <span class="sidebar-normal"> Id Immeuble </span>
              </a>
            </li>
            <li>
              <a routerLink="/modelisationidm">
                <span class="sidebar-mini-icon">midm</span>
                <span class="sidebar-normal">  Modelisation Idm </span>
              </a>
            </li>
            <li>
              <a routerLink="/modelisationpbo">
                <span class="sidebar-mini-icon">pbo</span>
                <span class="sidebar-normal">  Modelisation PBO </span>
              </a>
            </li>
            <li>
              <a routerLink="/racco">
                <span class="sidebar-mini-icon">rac</span>
                <span class="sidebar-normal">  Racco </span>
              </a>
            </li>
            <li>
              <a routerLink="/regie">
                <span class="sidebar-mini-icon">reg</span>
                <span class="sidebar-normal">  Regie </span>
              </a>
            </li>
            <li>
              <a routerLink="/vtl">
                <span class="sidebar-mini-icon">vtl</span>
                <span class="sidebar-normal">  Vtl </span>
              </a>
            </li>
            <li>
              <a routerLink="/trame">
                <span class="sidebar-mini-icon">tra</span>
                <span class="sidebar-normal">  Trame </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a data-toggle="collapse" href="#pagesExample">
          <i class="nc-icon nc-book-bookmark"></i>
          <p>
            nouvelles taches <b class="caret"></b>
          </p>
        </a>
        <div class="collapse " id="pagesExample">
          <ul class="nav">
            <li>
              <a routerLink="/ajouter" (click)="openNew()">
                <span class="sidebar-mini-icon">aj</span>
                <span class="sidebar-normal"> ajouter tache </span>
              </a>
              <p-dialog [(visible)]="NewDialog" [style]="{width: '580px', height:530}" header="Ajouter Tache"
                        [modal]="true" styleClass="p-fluid">
                <ng-template pTemplate="content">
                  <div class="row pt-2">
                    <div class="col-6">
                      <label for="username1" class="block">Nom :</label>
                    </div>
                    <div class="col-6">
                      <input type="text" class="form-control text-black" id="test" aria-describedby="username1-help"
                             pInputText [(ngModel)]="tache.nom"/>
                    </div>
                  </div>
                  <div>
                    <div [formGroup]="addForm">
                      <div formArrayName="items"
                           *ngFor="let item of items.controls; let i = index;">
                        <div [formGroupName]="i">
                          <div class="row pt-2">
                            <div class="col-6">
                              <label for="username1" class="block">Nom colonne :</label>
                            </div>
                            <div class="col-6">
                              <input formControlName="value" placeholder="">
                              &nbsp;<button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                                      (click)="deleteItem(i)"></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div>
                      <button pButton pRipple icon="pi pi-plus"
                              class="p-button-rounded p-button-success btn pull-right " (click)="addItem()"></button>
                    </div>
                  </div>
                  <div class="row">
                    <button class="btn btn-success" label="Ajouter" (click)="save(tache)"> Ajouter</button>
                  </div>
                </ng-template>
              </p-dialog>
            </li>

              <li>
                <a routerLink="/ajouter">
                  <span class="sidebar-mini-icon">af</span>
                  <span class="sidebar-normal">  affecter tache </span>
                </a>
              </li>
          </ul>
          <ul >
            <li *ngFor="let t of taches">
              <a (click)="navigate(t.nom)">
                <span class="sidebar-mini-icon">New</span>
                <span class="sidebar-normal">  {{t.nom}} </span>
              </a>
            </li>
           <!-- <li><a (click)="navigate(t.nom)">{{t.nom}}</a></li>-->
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>

