<!-- End Navbar -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
<link href="/assets/css/font-awesome.min.css" rel="stylesheet">
<link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="/assets/css/paper-dashboard.min.css?v=2.1.1" rel="stylesheet" />
<link href="/assets/demo/demo.css" rel="stylesheet" />
<div class="wrapper wrapper-full-page ">
  <div class="full-page section-image" style="background-image: url('../assets/img/cover.jpg');">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="content">
      <div class="container">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <form class="form" >
            <div class="card card-login">
              <div class="card-header ">
                <div class="card-header ">
                  <h3 class="header text-center">Connexion</h3>
                </div>
              </div>
              <div class="card-body ">
                <div class="input-group">
                  <div class="input-group-prepend">
                                        <span class="input-group-text">
                        <i class="nc-icon nc-single-02"></i>
                      </span>
                  </div>
                  <input type="text" id="email" class="form-control" formControlName="email" placeholder="Email">
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                                        <span class="input-group-text">
                        <i class="nc-icon nc-key-25"></i>
                      </span>
                  </div>
                  <input type="password" id="password" class="form-control" formControlName="password" placeholder="Mot de passe">
                </div>
                <br />
                <div class="form-group">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" formControlName="isSaveSession">
                      <span class="form-check-sign"></span>
                      Se souvenir de moi
                    </label>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <button href="javascript:;" class="btn btn-warning btn-round btn-block mb-3" type="submit" >SE CONNECTER</button>
              </div>
              <a routerLink="/auth/pass/reset" style="font-size: 80%;">Mot de passe oublié&nbsp;?</a>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
