<div class="card" *ngIf="isAuth">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="Nouveau Gc" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()" ></button>
      <p-dialog [(visible)]="NewDialog" [style]="{width: '580px', height:530}" header="Ajout Gc" [modal]="true" styleClass="p-fluid"   >
        <ng-template pTemplate="content">
          <div class="row pt-2">
            <div class="col-6">
            <label for="username1" class="block">Demandeur</label>
            </div>
            <div class="col-6">
            <input    type="text" class="form-control text-black" id="test" aria-describedby="username1-help" pInputText [(ngModel)]="gcs.demandeur"  />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
            <label for="username1" class="block">Adresse gc</label>
            </div>
            <div class="col-6">
            <input type="text" class="form-control text-black" aria-describedby="username1-help" pInputText [(ngModel)]="gcs.adressegc" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
            <label for="username1" class="block">Nombre de poteaux</label>
            </div>
            <div class="col-6">
            <input  type="number" class="form-control text-black" aria-describedby="username1-help" pInputText [(ngModel)]="gcs.nbrpoteaux" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
            <label for="username1" class="block">Real</label>
            </div>
            <div class="col-6">
            <input  type="number" class="form-control text-black" aria-describedby="username1-help" pInputText [(ngModel)]="gcs.reel" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
            <label for="username1" class="block">Action </label>
            </div>
            <div class="col-6">
            <input  type="text" class="form-control text-black" aria-describedby="username1-help" pInputText [(ngModel)]="gcs.action" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
            <label for="username1" class=" block">chargé</label>
            </div>
            <div class="col-6">
            <input  type="text" aria-describedby="username1-help" class="form-control text-black"  value="{{user.username}}" pInputText  />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
            <label for="username1" class="block">Etat</label>
            </div>
            <div class="col-6">
            <input  type="text" class="form-control text-black" aria-describedby="username1-help" pInputText [(ngModel)]="gcs.etat" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
            <label for="username1" class="block">Date de reception </label>
            </div>
            <div class="col-6">
            <input  type="date" class="form-control text-black" aria-describedby="username1-help" pInputText [(ngModel)]="gcs.datereception" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
            <label for="username1" class="block">Commentaire</label>
            </div>
            <div class="col-6">
            <input  type="text" class="form-control text-black" aria-describedby="username1-help" pInputText [(ngModel)]="gcs.commentaire" />
          </div>
          </div>
          <div  class="row pt-2">
            <div class="col-6">
            <label class="block">
            Region
            </label>
            </div>
            <div class="col-6">
            <select [(ngModel)]="region" name="status" placeholder="select"  class="form-select">
              <option *ngFor="let region of regions" [ngValue]="region">{{region.name}}</option>
            </select>
            </div>
          </div>
          <div  class="row pt-2">
            <div class="col-6">
              <label class="block">
                Projet
              </label>
            </div>
            <div class="col-6">
              <select [(ngModel)]="projet" name="status" placeholder="select"  class="form-select">
                <option *ngFor="let projet of projets" [ngValue]="projet">{{projet.name}}</option>
              </select>
            </div>
          </div>
          <div class="row">
          <button class="btn btn-success" label="Ajouter" (click)="save(gcs,username)"> Ajouter </button>
          </div>
        </ng-template></p-dialog>
    </ng-template>
    <ng-template pTemplate="right">
      <p-fileUpload mode="basic" accept=".xlsx" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block" chooseIcon="pi pi-download"  ></p-fileUpload>
      &nbsp;&nbsp;
      <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="Onexportexcel()"  icon="pi pi-upload"></button>
    </ng-template>
  </p-toolbar>
<div style="font-size: 5px ;">
<p-table #gctable  [value]="gc" [responsive]="true"  columnResizeMode="expand"  [tableStyle]="{width: 'max-content'  }" [filterDelay]="0" [globalFilterFields]="['id','demandeur','adressegc','nbrpoteaux','reel','action','charge','etat','datereception','commentaire','region.name','projet.name']"
         [paginator]="true" [rows]="4" [showCurrentPageReport]="true"  [resizableColumns]='true' [autoLayout]="true" id="excel-table" >
  <ng-template pTemplate="caption">
    <div class="datatable-header">
      List Gc
      <span class="p-input-icon-left m-lg-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains', gctable)" placeholder="" />
                </span>

    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>

      <th pSortableColumn="demandeur"> Demandeur <p-sortIcon field="demandeur"></p-sortIcon> </th>
      <th pSortableColumn="adressegc"> Adresse Gc <p-sortIcon field="adressegc"></p-sortIcon></th>
      <th pSortableColumn="nbrpoteaux"> Nombre de poteaux <p-sortIcon field="nbrpoteaux"></p-sortIcon> </th>
      <th pSortableColumn="reel"> Réel <p-sortIcon field="reel"></p-sortIcon> </th>
      <th pSortableColumn="action"> Action <p-sortIcon field="action"></p-sortIcon></th>
      <th pSortableColumn="charge"> Chargé <p-sortIcon field="charge"></p-sortIcon> </th>
      <th pSortableColumn="etat"> Etat <p-sortIcon field="etat"></p-sortIcon> </th>
      <th pSortableColumn="datereception"> Date reception <p-sortIcon field="datereception"></p-sortIcon> </th>
      <th pSortableColumn="commentaire"> Commentaire <p-sortIcon field="commentaire"></p-sortIcon> </th>
      <th pSortableColumn="region.name"> Region <p-sortIcon field="region.name"></p-sortIcon> </th>
      <th pSortableColumn="region.name"> Projet <p-sortIcon field="region.name"></p-sortIcon> </th>

      <th > </th>
    </tr>
    <tr>
    <th>
      <p-columnFilter type="text" field="demandeur"></p-columnFilter>
    </th>
      <th>
        <p-columnFilter type="text" field="adressegc"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="nbrpoteaux"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="reel"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="action"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="charge"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="etat"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="datereception"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="commentaire"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="region.name"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="projet.name"></p-columnFilter>
      </th>
    <th></th>

  </ng-template>
  <ng-template pTemplate="body" let-list >
    <tr>

      <td>{{list.demandeur}}</td>
      <td>{{list.adressegc}}</td>
      <td>{{list.nbrpoteaux}}</td>
      <td> {{list.reel}}</td>
      <td> {{list.action}}</td>
      <td> {{list.nom}} </td>
      <td> {{list.etat}}</td>
      <td> {{list.datereception |date:'dd/MM/YYYY'}}</td>
      <td> {{list.commentaire}}</td>
      <td> {{list.nom}}</td>
      <td> {{list.projet.name}}</td>

      <td>
        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="openDialog(list)"></button>
        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="Ondeletegc(list.id)"></button>
        &nbsp;
        <button  pButton pRipple icon="pi pi-bookmark" class="p-button-rounded " (click)="Onduplicate(list,username)"></button>

        <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="GC Details" [modal]="true" styleClass="p-fluid"   >
          <ng-template pTemplate="content">
            <div class="row pt-2">
              <div class="col-6">
              <label for="username1" class="block">ID</label>
              </div>
              <div class="col-6">
              <label id="username198" > {{gcs.id}}</label>
              </div>
            </div>
            <div class="row pt-2">
              <div class="col-6">
              <label for="username1" class="block">Demandeur</label>
              </div>
              <div class="col-6">
              <input class="form-control text-black" id="username19" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="gcs.demandeur" />
              </div>
            </div>
            <div class="row pt-2">
              <div class="col-6">
              <label for="username1" class="block">Adresse gc</label>
              </div>
              <div class="col-6">
              <input class="form-control text-black" id="username18" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="gcs.adressegc" />
              </div>
            </div>

            <div class="row pt-2">
              <div class="col-6">
              <label for="username1" class="block">Nombre de poteaux</label>
              </div>
              <div class="col-6">
              <input  class="form-control text-black" id="username17" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="gcs.nbrpoteaux" />
              </div>
            </div>
            <div class="row pt-2">
              <div class="col-6">
              <label for="username1" class="block">Real</label>
              </div>
              <div class="col-6">
              <input class="form-control text-black" id="username14" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="gcs.reel" />
              </div>
            </div>
            <div class="row pt-2">
              <div class="col-6">
              <label for="username1" class="block">Action </label>
              </div>
              <div class="col-6">
              <input class="form-control text-black" id="username15" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="gcs.action" />
              </div>
             </div>
            <div class="row pt-2">
              <div class="col-6">
              <label for="username1" class="block">Charge</label>
              </div>
              <div class="col-6">
              <input class="form-control text-black" id="username157" type="text" aria-describedby="username1-help" pInputText  />
              </div>
            </div>
            <div class="row pt-2">
              <div class="col-6">
              <label for="username1" class="block">Etat</label>
              </div>
              <div class="col-6">
              <input class="form-control text-black" id="username158" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="gcs.etat" />
              </div>
            </div>
            <div class="row pt-2">
              <div class="col-6">
              <label for="username1" class="block">Date de reception </label>
              </div>
              <div class="col-6">
              <input class="form-control text-black" id="usernam8" type="date" aria-describedby="username1-help" pInputText [(ngModel)]="gcs.datereception" />
              </div>
            </div>
            <div class="row pt-2">
              <div class="col-6">
              <label for="username1" class="block">Username</label>
              </div>
              <div class="col-6">
              <input class="form-control text-black" id="username159" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="gcs.commentaire" />
              </div>
            </div>
            <div class="row pt-2">
            <p-button label="modifier" (click)="editgc(gcs)"></p-button>
            </div>
          </ng-template></p-dialog>
      </td>
    </tr>
  </ng-template>
</p-table>
</div>
</div>
