<div class="card">
  <p-dialog [(visible)]="NewDialog" [style]="{width: '580px', height:530}" header="Ajout Gc" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">

      <div class="row pt-2">
        <div class="col-6">
          <label for="username1" class="block">Name</label>

        </div>
        <div class="col-6">

          <input    type="text" class="form-control text-black" id="test" aria-describedby="username1-help" pInputText [(ngModel)]="region.name"  />
        </div>
        <div class="row">
          <button class="btn btn-success" label="Ajouter" (click)="save(region)"> Ajouter </button>
        </div>
      </div>
    </ng-template></p-dialog>
<p-table [value]="regions" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th>List Region</th>
      <th>
        <button pButton pRipple label="Ajouter Region" icon="pi pi-plus" class="p-button-success p-mr-2 p-d-inline-block" (click)="openNew()"  ></button>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-region>
    <tr>

      <td>{{region.name}}</td>
      <td>
        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="openDialog(region)"></button>
        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="Ondeletegc(region.id)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
</div>

