<div class="card">
<p-table [value]="data" [responsive]="true" responsiveLayout="scroll"   >
  <ng-template pTemplate="caption">
    <div class="datatable-header">
      List  {{nom}}
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th > Demandeur  </th>
      <th > Date de reception</th>
      <th > Chargé  </th>
      <th >Commentaire </th>
      <th >Etat </th>
      <th > Region  </th>
      <th > Projet  </th>
      <th > </th>
    </tr>





  </ng-template>
  <ng-template pTemplate="body" let-list >
    <tr>
      <td>{{list.demandeur}}</td>
      <td> {{list.datereception |date:'dd/MM/YYYY'}}</td>
      <td>{{list.charge}}</td>
      <td>{{list.commentaire}}</td>
      <td> {{list.etat}}</td>
      <td> {{list.region.name}}</td>
      <td> {{list.projet.name}}</td>
    </tr>
  </ng-template>
</p-table>
</div>
 <!--<table>
   <tr>
     <th> Demandeur</th>
     <th> Date de reception </th>
     <th> Etat</th>
     <th> Chargé </th>
     <th> Commentaire  </th>
     <th> Region  </th>
     <th> Projet  </th>


   </tr>


   <tr *ngFor="let d of data">
     <td>{{d.demandeur}}</td>
     <td>{{d.datereception |date}}</td>
     <td>{{d.etat}}</td>
     <td>{{d.charge}}</td>
     <td>{{d.commentaire}}</td>
     <td>{{d.region.name}}</td>
     <td>{{d.projet.name}}</td>



   </tr>
 </table>-->
