<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="Nouveau Creation Sadirah" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()" ></button>
      <p-dialog [(visible)]="NewDialog" [style]="{width: '580px', height:530}" header="Ajout Creation Sadirah" [modal]="true" styleClass="p-fluid"   >
        <ng-template pTemplate="content">
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">Demandeur</label>
            </div>
            <div class="col-6">
              <input type="text" class="form-control text-black" id="test" aria-describedby="username1-help" pInputText [(ngModel)]="creationsadirahs.demandeur"  />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">Pm</label>
            </div>
            <div class="col-6">
              <input type="text" class="form-control text-black" aria-describedby="username1-help" pInputText [(ngModel)]="creationsadirahs.pm" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">PAV</label>
            </div>
            <div class="col-6">
              <input  type="text" class="form-control text-black" aria-describedby="username1-help" pInputText [(ngModel)]="creationsadirahs.pav" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">Poche</label>
            </div>
            <div class="col-6">
              <input  type="text" class="form-control text-black" aria-describedby="username1-help" pInputText [(ngModel)]="creationsadirahs.poche" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block"> Etat Sadirah </label>
            </div>
            <div class="col-6">
              <input  type="text" class="form-control text-black" aria-describedby="username1-help" pInputText [(ngModel)]="creationsadirahs.etatsadirah" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class=" block"> Etat</label>
            </div>
            <div class="col-6">
              <input  type="text" aria-describedby="username1-help" class="form-control text-black" pInputText [(ngModel)]="creationsadirahs.etat" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block"> Date de reception </label>
            </div>
            <div class="col-6">
              <input  type="date" class="form-control text-black" aria-describedby="username1-help" pInputText [(ngModel)]="creationsadirahs.daterec" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">Commentaire</label>
            </div>
            <div class="col-6">
              <input  type="text" class="form-control text-black" aria-describedby="username1-help" pInputText [(ngModel)]="creationsadirahs.commentaire" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">Chargé</label>
            </div>
            <div class="col-6">
              <input  type="text" class="form-control text-black" aria-describedby="username1-help" pInputText [(ngModel)]="creationsadirahs.charge" />
            </div>
          </div>
          <div  class="row pt-2">
            <div class="col-6">
              <label class="block">
                Region
              </label>
            </div>
            <div class="col-6">
              <select [(ngModel)]="region" name="status" placeholder="select"  class="form-select">
                <option *ngFor="let region of regions" [ngValue]="region">{{region.name}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <button class="btn btn-success" label="Ajouter" (click)="save(creationsadirahs)"> Ajouter </button>
          </div>
        </ng-template></p-dialog>

    </ng-template>
    <ng-template pTemplate="right">
      <p-fileUpload mode="basic" accept=".xlsx" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block" chooseIcon="pi pi-download"  ></p-fileUpload>
      &nbsp;&nbsp;
      <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="Onexportexcel()"  icon="pi pi-upload"></button>
    </ng-template>
  </p-toolbar>
  <div style="font-size: 5px ;">
    <p-table #creationsadirahtable  [value]="creationsadirah" [responsive]="true"  columnResizeMode="expand"  [tableStyle]="{width: 'max-content'  }" [filterDelay]="0" [globalFilterFields]="['demandeur','adressegc','nbrpoteaux','reel','action','charge','etat','daterec','commentaire','region.name']"
             [paginator]="true" [rows]="4" [showCurrentPageReport]="true"  [resizableColumns]='true' [autoLayout]="true" id="excel-table" >
      <ng-template pTemplate="caption">
        <div class="datatable-header">
          List Creation Sadirah
          <span class="p-input-icon-left m-lg-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains', creationsadirahtable)" placeholder="" />
                </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>

          <th pSortableColumn="demandeur"> Demandeur <p-sortIcon field="demandeur"></p-sortIcon> </th>
          <th pSortableColumn="daterec"> Date reception <p-sortIcon field="daterec"></p-sortIcon> </th>
          <th pSortableColumn="pm"> PM <p-sortIcon field="pm"></p-sortIcon></th>
          <th pSortableColumn="pav"> PAV <p-sortIcon field="pav"></p-sortIcon> </th>
          <th pSortableColumn="poche"> Poche <p-sortIcon field="poche"></p-sortIcon> </th>
          <th pSortableColumn="etatsadirah"> etat Sadirah <p-sortIcon field="etatsadirah"></p-sortIcon></th>
          <th pSortableColumn="etat"> Etat <p-sortIcon field="etat"></p-sortIcon> </th>
          <th pSortableColumn="charge"> Chargé <p-sortIcon field="charge"></p-sortIcon> </th>
          <th pSortableColumn="commentaire"> Commentaire <p-sortIcon field="commentaire"></p-sortIcon> </th>
          <th pSortableColumn="region.name"> Region <p-sortIcon field="region.name"></p-sortIcon> </th>
          <th></th>
        </tr>
        <tr>

          <th>
            <p-columnFilter type="text" field="demandeur"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="daterec"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="pm"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="pav"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="poche"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="etatsadirah"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="etat"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="charge"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="commentaire"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="region.name"></p-columnFilter>
          </th>
          <th>

          </th>
      </ng-template>
      <ng-template pTemplate="body" let-list >
        <tr>

          <td>{{list.demandeur}}</td>
          <td> {{list.daterec |date:'dd/MM/YYYY' }}</td>
          <td>{{list.pm}}</td>
          <td> {{list.pav}}</td>
          <td> {{list.poche}}</td>
          <td> {{list.etatsadirah}}</td>
          <td> {{list.etat}}</td>
          <td> {{list.charge}}</td>
          <td> {{list.commentaire}}</td>
          <td> {{list.region.name}}</td>
          <td>
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="openDialog(list)"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="Ondeletegc(list.id)"></button>
            <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="CREATION SADIRAH Details" [modal]="true" styleClass="p-fluid"   >
              <ng-template pTemplate="content">
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">ID</label>
                  </div>
                  <div class="col-6">
                    <label id="username198" > {{creationsadirahs.id}}</label>
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Demandeur</label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black" id="username19" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="creationsadirahs.demandeur" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Date de reception </label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black" id="usernam888" type="date" aria-describedby="username1-help" pInputText [(ngModel)]="creationsadirahs.daterec" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block"> Pm</label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black" id="username18" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="creationsadirahs.pm" />
                  </div>
                </div>

                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block"> PAV</label>
                  </div>
                  <div class="col-6">
                    <input  class="form-control text-black" id="username17" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="creationsadirahs.pav" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Poche</label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black" id="username14" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="creationsadirahs.poche" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Etat Sadirah </label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black" id="username15" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="creationsadirahs.etatsadirah" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Etat</label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black" id="username157" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="creationsadirahs.etat" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Charge</label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black" id="username159" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="creationsadirahs.charge" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="row pt-2">
                    <div class="col-6">
                      <label for="username1" class="block">Commentaire</label>
                    </div>
                    <div class="col-6">
                      <input class="form-control text-black" id="username1599" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="creationsadirahs.commentaire" />
                    </div>
                  </div>
                </div>
                <div class="row pt-2">
                  <p-button label="modifier" (click)="editcreationidm(creationsadirahs)"></p-button>
                </div>
              </ng-template></p-dialog>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
