<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="Nouveau Racco" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()" ></button>
      <p-dialog [(visible)]="NewDialog" [style]="{width: '580px', height:530}" header="Ajout Racco" [modal]="true" styleClass="p-fluid"   >
        <ng-template pTemplate="content">
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">Demandeur</label>
            </div>
            <div class="col-6">
              <input type="text" class="form-control text-black" id="test" aria-describedby="username1-help" pInputText [(ngModel)]="raccos.demandeur"  />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block"> Date de reception </label>
            </div>
            <div class="col-6">
              <input  type="date" class="form-control text-black" aria-describedby="username1-help" pInputText [(ngModel)]="raccos.datereception" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">Réf Pav</label>
            </div>
            <div class="col-6">
              <input class="form-control text-black"  type="text" aria-describedby="username1-help" pInputText [(ngModel)]="raccos.refpav" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">Id ra  </label>
            </div>
            <div class="col-6">
              <input class="form-control text-black"  type="text" aria-describedby="username1-help" pInputText [(ngModel)]="raccos.idra" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">Chargé</label>
            </div>
            <div class="col-6">
              <input class="form-control text-black"  type="text" aria-describedby="username1-help" pInputText [(ngModel)]="raccos.charge" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">Nblgts</label>
            </div>
            <div class="col-6">
              <input class="form-control text-black"  type="number" aria-describedby="username1-help" pInputText [(ngModel)]="raccos.nblgts" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">Pbo</label>
            </div>
            <div class="col-6">
              <input  type="text" class="form-control text-black" aria-describedby="username1-help" pInputText [(ngModel)]="raccos.pbo" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">Idmeuble</label>
            </div>
            <div class="col-6">
              <input class="form-control text-black"  type="text" aria-describedby="username1-help" pInputText [(ngModel)]="raccos.idimmeuble" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">Distance pb poto</label>
            </div>
            <div class="col-6">
              <input class="form-control text-black"  type="number" aria-describedby="username1-help" pInputText [(ngModel)]="raccos.distancepbopto" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">Action</label>
            </div>
            <div class="col-6">
              <input class="form-control text-black"  type="text" aria-describedby="username1-help" pInputText [(ngModel)]="raccos.action" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">Commentaire</label>
            </div>
            <div class="col-6">
              <input class="form-control text-black"  type="text" aria-describedby="username1-help" pInputText [(ngModel)]="raccos.commentaire" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">Distance</label>
            </div>
            <div class="col-6">
              <input class="form-control text-black"  type="number" aria-describedby="username1-help" pInputText [(ngModel)]="raccos.distance" />
            </div>
          </div>
          <div class="row pt-2">
              <div class="col-6">
                <label for="username1" class="block">Maj Networks</label>
              </div>
              <div class="col-6">
                <input class="form-control text-black"  type="text" aria-describedby="username1-help" pInputText [(ngModel)]="raccos.majnetworks" />
              </div>
            </div>
            <div class="row pt-2">
              <div class="col-6">
                <label for="username1" class="block">Maj Sadirah</label>
              </div>
              <div class="col-6">
                <input class="form-control text-black"  type="text" aria-describedby="username1-help" pInputText [(ngModel)]="raccos.majsadirah" />
              </div>
            </div>
            <div class="row pt-2">
              <div class="col-6">
                <label for="username1" class="block">Ancien PM</label>
              </div>
              <div class="col-6">
                <input class="form-control text-black"  type="text" aria-describedby="username1-help" pInputText [(ngModel)]="raccos.ancienpm" />
              </div>
            </div>
            <div class="row pt-2">
              <div class="col-6">
                <label for="username1" class="block">Nouveau Pm</label>
              </div>
              <div class="col-6">
                <input class="form-control text-black"  type="text" aria-describedby="username1-help" pInputText [(ngModel)]="raccos.nouveaupm" />
              </div>
            </div>
          <div  class="row pt-2">
            <div class="col-6">
              <label class="block">
                Region
              </label>
            </div>
            <div class="col-6">
              <select [(ngModel)]="region" name="status" placeholder="select"  class="form-select">
                <option *ngFor="let region of regions" [ngValue]="region">{{region.name}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <button class="btn btn-success" label="Ajouter" (click)="save(raccos)"> Ajouter </button>
          </div>
        </ng-template></p-dialog>

    </ng-template>
    <ng-template pTemplate="right">
      <p-fileUpload mode="basic" accept=".xlsx" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block" chooseIcon="pi pi-download"  ></p-fileUpload>
      &nbsp;&nbsp;
      <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="Onexportexcel()"  icon="pi pi-upload"></button>
    </ng-template>
  </p-toolbar>
  <div style="font-size: 5px ;">
    <p-table #raccotable  [value]="racco" [responsive]="true"  columnResizeMode="expand"  [tableStyle]="{width: 'max-content'  }" [filterDelay]="0" [globalFilterFields]="['demandeur','datereception','refpav','idra','charge','nblgts',
    'pbo','idimmeuble','distancepbopto',
    'action','commentaire','etat','commentaire','distance',
    'majnetworks','majsadirah','ancienpm','nouveaupm','region.name']"
             [paginator]="true" [rows]="4" [showCurrentPageReport]="true"  [resizableColumns]='true' [autoLayout]="true" id="excel-table" >
      <ng-template pTemplate="caption">
        <div class="datatable-header">
          List Racco
          <span class="p-input-icon-left m-lg-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains', raccotable)" placeholder="" />
                </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>

          <th pSortableColumn="demandeur"> Demandeur <p-sortIcon field="demandeur"></p-sortIcon> </th>
          <th pSortableColumn="datereception"> Date reception <p-sortIcon field="datereception"></p-sortIcon> </th>
          <th pSortableColumn="refpav"> Réf Pav  <p-sortIcon field="refpav"></p-sortIcon> </th>
          <th pSortableColumn="idra"> Id ra  <p-sortIcon field="idra"></p-sortIcon> </th>
          <th pSortableColumn="charge"> Chargé <p-sortIcon field="charge"></p-sortIcon> </th>
          <th pSortableColumn="nblgts"> Nb lgts  <p-sortIcon field="nblgts"></p-sortIcon> </th>
          <th pSortableColumn="pbo"> Pbo  <p-sortIcon field="pbo"></p-sortIcon> </th>
          <th pSortableColumn="idimmeuble"> Id Immeuble  <p-sortIcon field="idimmeuble"></p-sortIcon> </th>
          <th pSortableColumn="distancepbopto"> Distance Poto  <p-sortIcon field="distancepbopto"></p-sortIcon> </th>
          <th pSortableColumn="action"> Action  <p-sortIcon field="action"></p-sortIcon> </th>
          <th pSortableColumn="commentaire"> Commentaire <p-sortIcon field="commentaire"></p-sortIcon> </th>
          <th pSortableColumn="distance"> Distance  <p-sortIcon field="distance"></p-sortIcon> </th>
          <th pSortableColumn="majnetworks"> Maj Networks  <p-sortIcon field="majnetworks"></p-sortIcon> </th>
          <th pSortableColumn="majsadirah"> Maj Sadirah  <p-sortIcon field="majsadirah"></p-sortIcon> </th>
          <th pSortableColumn="ancienpm"> Ancien Pm  <p-sortIcon field="ancienpm"></p-sortIcon> </th>
          <th pSortableColumn="nouveaupm"> Nouveau Pm  <p-sortIcon field="nouveaupm"></p-sortIcon> </th>
          <th pSortableColumn="region.name"> Region <p-sortIcon field="region.name"></p-sortIcon> </th>
          <th></th>
        </tr>
        <tr>

          <th>
            <p-columnFilter type="text" field="demandeur"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="datereception"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="refpav"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="idra"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="charge"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="nblgts"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="pbo"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="idimmeuble"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="distancepbopto"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="action"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="commentaire"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="distance"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="majnetworks"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="majsadirah"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="ancienpm"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="nouveaupm"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="region.name"></p-columnFilter>
          </th>
          <th>
          </th>
      </ng-template>
      <ng-template pTemplate="body" let-list >
        <tr>

          <td>{{list.demandeur}}</td>
          <td> {{list.datereception | date:'dd/MM/YYYY' }}</td>
          <td> {{list.refpav}}</td>
          <td> {{list.idra}}</td>
          <td> {{list.charge}}</td>
          <td> {{list.nblgts}}</td>
          <td> {{list.pbo}}</td>
          <td> {{list.idimmeuble}}</td>
          <td> {{list.distancepbopto}}</td>
          <td> {{list.action}}</td>
          <td> {{list.commentaire}}</td>
          <td> {{list.distance}}</td>
          <td> {{list.majnetworks}}</td>
          <td> {{list.majsadirah}}</td>
          <td> {{list.ancienpm}}</td>
          <td> {{list.nouveaupm}}</td>
          <td> {{list.region.name}}</td>
          <td>
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="openDialog(list)"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="Ondeletegc(list.id)"></button>
            &nbsp;
            <button  pButton pRipple icon="pi pi-bookmark" class="p-button-rounded " (click)="Onduplicate(list)"></button>

            <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Racco Details" [modal]="true" styleClass="p-fluid"   >
              <ng-template pTemplate="content">
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">ID</label>
                  </div>
                  <div class="col-6">
                    <label id="username198" > {{raccos.id}}</label>
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Demandeur</label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black"  type="text" aria-describedby="username1-help" pInputText [(ngModel)]="raccos.demandeur" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Date de reception </label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black"  type="date" aria-describedby="username1-help" pInputText [(ngModel)]="raccos.datereception" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Réf Pav</label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black"  type="text" aria-describedby="username1-help" pInputText [(ngModel)]="raccos.refpav" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Id ra  </label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black"  type="text" aria-describedby="username1-help" pInputText [(ngModel)]="raccos.idra" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Chargé</label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black"  type="text" aria-describedby="username1-help" pInputText [(ngModel)]="raccos.charge" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Nblgts</label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black"  type="number" aria-describedby="username1-help" pInputText [(ngModel)]="raccos.nblgts" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Pbo</label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="raccos.pbo" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Idmeuble</label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black"  type="text" aria-describedby="username1-help" pInputText [(ngModel)]="raccos.idimmeuble" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Distance pb poto</label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black"  type="number" aria-describedby="username1-help" pInputText [(ngModel)]="raccos.distancepbopto" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Action</label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black"  type="text" aria-describedby="username1-help" pInputText [(ngModel)]="raccos.action" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Commentaire</label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black"  type="text" aria-describedby="username1-help" pInputText [(ngModel)]="raccos.commentaire" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Distance</label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black"  type="number" aria-describedby="username1-help" pInputText [(ngModel)]="raccos.distance" />
                  </div>
                </div>
                <div class="row pt-2">
                    <div class="col-6">
                      <label for="username1" class="block">Maj Networks</label>
                    </div>
                    <div class="col-6">
                      <input class="form-control text-black"  type="text" aria-describedby="username1-help" pInputText [(ngModel)]="raccos.majnetworks" />
                    </div>
                  </div>
                <div class="row pt-2">
                    <div class="col-6">
                      <label for="username1" class="block">Maj Sadirah</label>
                    </div>
                    <div class="col-6">
                      <input class="form-control text-black"  type="text" aria-describedby="username1-help" pInputText [(ngModel)]="raccos.majsadirah" />
                    </div>
                  </div>
                <div class="row pt-2">
                    <div class="col-6">
                      <label for="username1" class="block">Ancien PM</label>
                    </div>
                    <div class="col-6">
                      <input class="form-control text-black"  type="text" aria-describedby="username1-help" pInputText [(ngModel)]="raccos.ancienpm" />
                    </div>
                  </div>
                  <div class="row pt-2">
                    <div class="col-6">
                      <label for="username1" class="block">Nouveau Pm</label>
                    </div>
                    <div class="col-6">
                      <input class="form-control text-black"  type="text" aria-describedby="username1-help" pInputText [(ngModel)]="raccos.nouveaupm" />
                    </div>
                  </div>
                <div class="row pt-2">
                  <p-button label="modifier" (click)="edit(raccos)"></p-button>
                </div>
              </ng-template></p-dialog>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

