<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="Nouveau Modelisation Pbo" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()" ></button>
      <p-dialog [(visible)]="NewDialog" [style]="{width: '580px', height:530}" header="Ajout Modelisation Pbo" [modal]="true" styleClass="p-fluid"   >
        <ng-template pTemplate="content">
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">Demandeur</label>
            </div>
            <div class="col-6">
              <input type="text" class="form-control text-black" id="test" aria-describedby="username1-help" pInputText [(ngModel)]="modes.demandeur"  />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class=" block"> Emprise</label>
            </div>
            <div class="col-6">
              <input  type="text" aria-describedby="username1-help" class="form-control text-black" pInputText [(ngModel)]="modes.emprise" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block"> Date de reception </label>
            </div>
            <div class="col-6">
              <input  type="date" class="form-control text-black" aria-describedby="username1-help" pInputText [(ngModel)]="modes.datereception" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">Commentaire</label>
            </div>
            <div class="col-6">
              <input  type="text" class="form-control text-black" aria-describedby="username1-help" pInputText [(ngModel)]="modes.commentaire" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">Chargé</label>
            </div>
            <div class="col-6">
              <input  type="text" class="form-control text-black" aria-describedby="username1-help" pInputText value="{{user.username}}" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">Tache</label>
            </div>
            <div class="col-6">
              <input  type="text" class="form-control text-black" aria-describedby="username1-help" pInputText [(ngModel)]="modes.tache" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">Pm</label>
            </div>
            <div class="col-6">
              <input  type="text" class="form-control text-black" aria-describedby="username1-help" pInputText [(ngModel)]="modes.pm" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">Pbo</label>
            </div>
            <div class="col-6">
              <input  type="text" class="form-control text-black" aria-describedby="username1-help" pInputText [(ngModel)]="modes.pbo" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">Bal</label>
            </div>
            <div class="col-6">
              <input  type="number" class="form-control text-black" aria-describedby="username1-help" pInputText [(ngModel)]="modes.bal" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">Audit</label>
            </div>
            <div class="col-6">
              <input  type="text" class="form-control text-black" aria-describedby="username1-help" pInputText [(ngModel)]="modes.audit" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">Etat</label>
            </div>
            <div class="col-6">
              <input  type="text" class="form-control text-black" aria-describedby="username1-help" pInputText [(ngModel)]="modes.etat" />
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <label for="username1" class="block">Commune</label>
            </div>
            <div class="col-6">
              <input  type="text" class="form-control text-black" aria-describedby="username1-help" pInputText [(ngModel)]="modes.commune" />
            </div>
          </div>
          <div  class="row pt-2">
            <div class="col-6">
              <label class="block">
                Region
              </label>
            </div>
            <div class="col-6">
              <select [(ngModel)]="region" name="status" placeholder="select"  class="form-select">
                <option *ngFor="let region of regions" [ngValue]="region">{{region.name}}</option>
              </select>
            </div>
          </div>
          <div  class="row pt-2">
            <div class="col-6">
              <label class="block">
                Projet
              </label>
            </div>
            <div class="col-6">
              <select [(ngModel)]="projet" name="status" placeholder="select"  class="form-select">
                <option *ngFor="let projet of projets" [ngValue]="projet">{{projet.name}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <button class="btn btn-success" label="Ajouter" (click)="save(modes,username)"> Ajouter </button>
          </div>
        </ng-template></p-dialog>

    </ng-template>
    <ng-template pTemplate="right">
      <p-fileUpload mode="basic" accept=".xlsx" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block" chooseIcon="pi pi-download"  ></p-fileUpload>
      &nbsp;&nbsp;
      <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="Onexportexcel()"  icon="pi pi-upload"></button>
    </ng-template>
  </p-toolbar>
  <div style="font-size: 5px ;">
    <p-table #modelisationpbotable  [value]="modelisationpbo" [responsive]="true"  columnResizeMode="expand"  [tableStyle]="{width: 'max-content'  }" [filterDelay]="0" [globalFilterFields]="['demandeur','datereception','idra','idm','emprise','tache','charge','pm','pbo','bal','audit','etat','commentaire','commune','region.name']"
             [paginator]="true" [rows]="4" [showCurrentPageReport]="true"  [resizableColumns]='true' [autoLayout]="true" id="excel-table" >
      <ng-template pTemplate="caption">
        <div class="datatable-header">
          List Modelisation Pbo
          <span class="p-input-icon-left m-lg-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains', modelisationpbotable)" placeholder="" />
                </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>

          <th pSortableColumn="demandeur"> Demandeur <p-sortIcon field="demandeur"></p-sortIcon> </th>
          <th pSortableColumn="datereception"> Date reception <p-sortIcon field="datereception"></p-sortIcon> </th>
          <th pSortableColumn="emprise"> Emprise  <p-sortIcon field="emprise"></p-sortIcon> </th>
          <th pSortableColumn="tache"> Tache  <p-sortIcon field="tache"></p-sortIcon> </th>
          <th pSortableColumn="charge"> Chargé <p-sortIcon field="charge"></p-sortIcon> </th>
          <th pSortableColumn="pm"> Pm  <p-sortIcon field="pm"></p-sortIcon> </th>
          <th pSortableColumn="pbo"> Pbo  <p-sortIcon field="pbo"></p-sortIcon> </th>
          <th pSortableColumn="bal"> Bal  <p-sortIcon field="bal"></p-sortIcon> </th>
          <th pSortableColumn="audit"> Audit  <p-sortIcon field="audit"></p-sortIcon> </th>
          <th pSortableColumn="etat"> etat  <p-sortIcon field="nlr"></p-sortIcon> </th>
          <th pSortableColumn="commentaire"> Commentaire <p-sortIcon field="commentaire"></p-sortIcon> </th>
          <th pSortableColumn="commune"> Commune  <p-sortIcon field="commune"></p-sortIcon> </th>
          <th pSortableColumn="region.name"> Region <p-sortIcon field="region.name"></p-sortIcon> </th>
          <th pSortableColumn="projet.name"> Projet <p-sortIcon field="projet.name"></p-sortIcon> </th>

          <th></th>
        </tr>
        <tr>
          <th>
            <p-columnFilter type="text" field="demandeur"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="datereception"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="emprise"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="tache"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="charge"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="pm"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="pbo"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="bal"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="audit"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="etat"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="commentaire"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="commune"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="region.name"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="projet.name"></p-columnFilter>
          </th>
          <th>
          </th>
      </ng-template>
      <ng-template pTemplate="body" let-list >
        <tr>

          <td>{{list.demandeur}}</td>
          <td> {{list.datereception | date:'dd/MM/YYYY' }}</td>
          <td> {{list.emprise}}</td>
          <td> {{list.tache}}</td>
          <td> {{list.nom}}</td>
          <td> {{list.pm}}</td>
          <td> {{list.pbo}}</td>
          <td> {{list.bal}}</td>
          <td> {{list.audit}}</td>
          <td> {{list.etat}}</td>
          <td> {{list.commentaire}}</td>
          <td> {{list.commune}}</td>
          <td> {{list.region.name}}</td>
          <td> {{list.projet.name}}</td>
          <td>
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="openDialog(list)"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="Ondeletegc(list.id)"></button>
            &nbsp;
            <button  pButton pRipple icon="pi pi-bookmark" class="p-button-rounded " (click)="Onduplicate(list,username)"></button>

            <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Modelisation Pbo Details" [modal]="true" styleClass="p-fluid"   >
              <ng-template pTemplate="content">
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">ID</label>
                  </div>
                  <div class="col-6">
                    <label id="username198" > {{modes.id}}</label>
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Demandeur</label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black" id="username19" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="modes.demandeur" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Date de reception </label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black" id="usernam888" type="date" aria-describedby="username1-help" pInputText [(ngModel)]="modes.datereception" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Emprise</label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black" id="username14" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="modes.emprise" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Tache  </label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black" id="username15" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="modes.tache" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Chargé</label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black" id="username1588" type="text" aria-describedby="username1-help" pInputText   />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Pm</label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black" id="username159" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="modes.pm" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Pbo</label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black" id="ouou" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="modes.pbo" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Bal</label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black" id="n" type="number" aria-describedby="username1-help" pInputText [(ngModel)]="modes.bal" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Audit</label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black" id="p" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="modes.audit" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Etat</label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black" id="o" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="modes.etat" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-6">
                    <label for="username1" class="block">Commune</label>
                  </div>
                  <div class="col-6">
                    <input class="form-control text-black" id="f" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="modes.commune" />
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="row pt-2">
                    <div class="col-6">
                      <label for="username1" class="block">Commentaire</label>
                    </div>
                    <div class="col-6">
                      <input class="form-control text-black" id="username1599" type="text" aria-describedby="username1-help" pInputText [(ngModel)]="modes.commentaire" />
                    </div>
                  </div>
                </div>
                <div class="row pt-2">
                  <p-button label="modifier" (click)="edit(modes)"></p-button>
                </div>
              </ng-template></p-dialog>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
